[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
    "composer install --no-dev --optimize-autoloader --no-interaction --prefer-dist"
]

[phases.build]
cmds = [
    "php artisan storage:link || true"
]

[start]
cmd = "php -S 0.0.0.0:80 -t public"
